@import '_variable.scss';
@import '_font.scss';
@import '_mixin.scss';
@import '_headline.scss';

#featured{
    padding-bottom: 100px;

    .featured-menu{
        padding-top: 25px;
        padding-bottom: 30px;

        ul{

            li{
                @include ralemed;
                font-size: 16px;
                padding: 0 20px;
                color: $hbg;  
                border-right: 1px solid $hbg;
                cursor: pointer;              
                
                &.active{
                    color: $brand;
                }
              
                &:first-of-type{
                    padding-left: 0;
                }

                &:last-of-type{
                    padding-right: 0;
                    border-right: none;
                }
            }
        }
    }

    .featured-item{

        h3{
            @include ralemed;
            font-size: 16px;
            color: $dark;
            margin-top: 7px;
        }

        .featured-item-image{
            position: relative;
            
            .featured-item-overlay{
                width: 0;
                height: 100%;
                position: absolute;
                background: $over70;
                top: 0;
                right: 0;
                @include trans(0.4s);
                overflow: hidden;

                ul{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    place-items: center;
                    
                    li{
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        border: 1px solid $white;
                        text-align: center;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        margin-bottom: 30px;
                        @include trans(0.4s);
                        

                        &:last-of-type{
                            margin-bottom: 0;
                        }

                        a{

                            i{
                                font-size: 24px;
                                color: $white;
                                @include trans(0.4s);
                            }
                        }

                        &:hover{                            
                                background: $brand;
                                border-color: $brand;
                                
                            }

                            i{
                                color: $white;
                            }
                        
                    }
                }

            }
        }

        &:hover{

            .featured-item-overlay{
                width: 35%;
            }

        }
    }

    .featured-icon{

        i{
            color: $brand;
        }
    }
    
}

/* ========================
    featured products
====================== */ 